@{
    ViewData["Title"] = "MVC";
}

<div class="text-center">
    <h1 class="display-4">Trabalho com MVC</h1>
    <h2>Usando o MVC</h2>
    <p>Hoje começo a minha primeira apicação com o MVC</p>
    <p>To com vontade de dar com a cabeça de alguem na parede! Algum voluntario ?</p>
</div>
