@{
    ViewData["Title"] = "Politica de Segurança";
}
<h1>@ViewData["Title"]</h1>

<h2 style="color:blue">Informações Importantes</h2>

<p>Importante que se tenha muita atenção com relação as questões de segurança da aplicação</p>
<br />
<br />
<h2 style="color:darkgreen">Problemas</h2>
<p>Veja os problemas existentes quando se constroi uma aplicação WEB</p>